<div class="profile_filed">
  <img src="<%= '/images/' + user.profile_image_uri %>" alt="profile image" class="profile_image">
  <span class="username"><%= user.username %></span>
</div>
<div class="usage_field">
  <p><%= user.micropostCount %> つぶやき</p>
  <div>
    <p><%= user.followingCount %> フォロー中</p>
    <p><%= user.followerCount %> フォロワー</p>
  </div>
</div>
<div class="function_field">
  <% if (typeof isPostable !== 'undefined') { %>
    <% if (isPostable) { %>
      <form action="/microposts/add" method="post">
        <textarea name="content" cols="30" rows="10" placeholder="つぶやきたいことをここに書きます…"></textarea>
        <input type="submit" value="つぶやく">
      </form>
    <% } %>
  <% } %>
</div>