<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <%- include('./header') %>
  <h1><%= title %></h1>

  <div class="frame">
    <aside class="sidebar"><%- include('./sidebar') %></aside>
    <main class="users">
      <% for (let user of users) { %>
        <div class="user">
          <div class="profile_filed">
            <a href="<%= '/users/' + user.id %>">
              <img src="<%= '/images/' + user.profile_image_uri %>" alt="profile image" class="profile_image">
              <span class="username"><%= user.username %></span>
            </a>
          </div>
          <div class="function_field">
            <% if (authUser.is_admin) { %>
            <form action="/users/delete" method="post">
              <input type="hidden" name="user_id" value="<%= user.id %>">
              <input type="submit" value="削除">
            </form>
            <% } %>
          </div>
        </div>
      <% } %>
    </main>
  </div>
</body>
</html>